
<h1>Whatcha Want?!</h1>

<form action='/checkout' method='POST'>
    <input type="radio" id="item" name="milk (1/2 gallon)" value="3.99">
    <label for="milk">Half Gallon Milk</label>
    <br>
    <input type="radio" id="item" name="eggs (1 dozen)" value="6.99">
    <label for="eggs">1 Dozen Eggs</label>
    <br>
    <input type="radio" id="item" name="coffee (40oz)" value="12.99">
    <label for="coffee">40oz bag medium Roast Coffee</label>
    <br>
    <input type="text" id="item" name="item" value="item">
    <label for="coffee">Need something else? Please enter it.</label>
    <br>
    <br>
        <input type="submit" value="submit">
</form>
